<%- include('partials/head.ejs', {title: "My Website"}); %>

<h1>Hey!</h1>
<p>I supposed you got this html page by a Node.js server, am I right? I knew it! So, enjoy this website</p>

<%- include('partials/footer.ejs'); %>