body {
    background-color: skyblue;
    font-family: sans-serif;
    font-size: 32px;
    padding: 30px;
    color: white;
}

h1 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}

p {
    font-size: 24px;
    text-align: center;
}